# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Keep embeddings/ directory but ignore all contained files
embeddings/*
!embeddings/.gitkeep
vocabularies/*
!vocabularies/.gitkeep
preprocessed/*
!preprocessed/.gitkeep

# Let's ignore weights for now
*.h5

.DS_Store
.fuse*

# Ignore test results
results/*my-fancy*

# Ignore rendered plots
plots/
*.png

# Ignore compiled tex files
docs/report/*.aux
docs/report/*.out
docs/report/*.lof
docs/report/*.synctex.gz
docs/report/*.tex.*
docs/report/*.glo
docs/report/*.ist
docs/report/*.lot
docs/report/*.pdf
docs/report/*.toc
docs/report/*.xml
docs/report/*.bbl
docs/report/*.bbg
docs/report/*.blg
docs/report/*blx.bib
docs/report/main.glsdefs
!docs/report/img/**/*

# Ignore models content
models/*
!models/.gitkeep

# Ignore nohup output
*.out

