<html>
  <header>
    <title>[PA-ML-2016 web runner]</title>
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/static/jquery-json-viewer.js" type="text/javascript"></script>
    <script src="/static/app.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/app.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-json-viewer.css">
  </header>
  <body>
    <h1>[PA-ML-2016 runner web view]</h1>
    <div id="path_container">
      <h3>/results</h3>
    </div>
    <div id="content_container">
      <ul id="content_entries">
      </ul>
      <div id="result_hypen"></div>
      <div id="result_viewer"></div>
    </div>
  </body>
</html>